body {
    background-color: #32CD32;
    position: relative;
}
.table {
    background-color: #ce9643;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    height: 50vh;
    width: 70vw;
    border-radius: 10px;
}
.navbar {
    align-items: center;
    background-color: #228B22;
    height: 62pt;
    border-radius: 10px;
    text-align: center;
    margin:auto;
}
.navbar a {
    color: #F1F8E9;
    text-align: center;
    text-decoration: none;
    font-size: 30pt;
    padding-left: 100px ;
    margin: 60px;
}
.navbar a:hover {
    color: #101010;
    text-align: center;
}
.teamtable {
    background-color: #ce9643;
    margin-top: 75px;
    margin-left: 30px;
    width: 60vw;
    height: 32vh;
    text-align: center;
    border-radius: 10px;
}
.teamtable1 {
    background-color: #ce9643;
    margin-top: 75px;
    margin-left: 575px;
    width: 60vw;
    height: 32vh;
    text-align: center;
    border-radius: 10px;
}
.teamtable2 {
    background-color: #ce9643;
    margin-top: 75px;
    margin-left: 30px;
    width: 60vw;
    height: 32vh;
    text-align: center;
    border-radius: 10px;
}
.footer1 {
    background-color: #ce9643;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    margin-top: 640px;
    border-radius: 10px;
}
.footer2 {
    background-color: #ce9643;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    margin-top: 121px;
    border-radius: 10px;
}
.footer3 {
    background-color: #ce9643;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    margin-top: 190px;
    border-radius: 10px;
}
.logo {
    position:absolute;
    max-height: 8vh;
    height: auto;
    left: 25px;
    top: 3px;
}
p{
    color: white;
    font-size: 35px;
    width: 70%;
}
.environment_pic1{
    position: absolute;
    right: 10px;
    top: 140px;
    border-radius: 5%;
}
.environment_pic2{
    position: absolute;
    width: 400px;
    height: auto;
    right: 10px;
    top: 450px;
    border-radius: 5%;
}
.environment_pic3{
    position: absolute;
    width: 400px;
    height: auto;
    right: 10px;
    top: 900px;
    border-radius: 5%;
}
.environment_pic4{
    position: absolute;
    width: 700px;
    height: auto;
    left: 31%;
    top: 1450px;
    border-radius: 5%;
}
h1{
    text-align: center;
    font-size: 50px;
    color: white;
}
.page{
    font-size: 50px;
    margin: 72px;
    color:white;
}