body {
    background-color: #4CAF50;
    position: relative;
}
.table {
    background-color: #D2B48C;
    margin-left: auto;
    margin-right: auto;
    margin-top: 210px;
    height: 40vh;
    width: 60vw;
    border-radius: 10px;
}
.navbar {
    align-items: center;
    background-color: #D2B48C;
    height: 62pt;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}
.navbar a {
    color: #F1F8E9;
    text-align: center;
    text-decoration: none;
    font-size: 30pt;
    padding-left: 100px ;
}
.navbar a:hover {
    background-color: #D2B48C;
    color: #101010;
    text-align: center;
}
.teamtable {
    background-color: #D2B48C;
    margin:auto;
    margin-top: 75px;
    width: 70vw;
    text-align: center;
    border-radius: 10px;
}
.footer1 {
    background-color: #D2B48C;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    margin-top: 640px;
    border-radius: 10px;
}
.footer2 {
    background-color: #D2B48C;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    margin-top: 121px;
    border-radius: 10px;
}
.footer3 {
    background-color: #D2B48C;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    margin-top: 190px;
    border-radius: 10px;
}
img{
    border-radius: 30px;
}